// @file Base
// This file contains basic theme elements fundamental to all sites.

/**
 * Base
 *************************/

/**
 * Globals
 */
html {
	box-sizing: border-box;
	font-size: $base-font-size;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	height: 100%;
	font-family: $base-font-stack;
}

html,
body {
	height: 100%;
}

/**
 * Typography
 */

/* Content Components */
h1, h2, h3, h4, h5, h6 {

}

h1,
h1 a {
	font-size: 2rem;
}

h2,
h2 a {
	font-size: 1.8rem;
}

h3,
h3 a {
	font-size: 1.6rem;

}

h4,
h4 a {
	font-size: 1.5rem;
}

h5,
h5 a {
	font-size: 1.4rem;
}

h6,
h6 a {
	font-size: 1.3rem;
}

p, li {
	font-size: 1.2rem;
	line-height: 1.5;
}

/* Heading Types */
h1 {
	&#page-title {

	}
}

h2 {
	&#block-title {

	}
	&node-title {

	}
}

/* WYSIWYG Components */
a {

}

/* Form Components */

/* Media Components */
img {

}

/* Extras & Elements */

/**
 * Layout
 */

/* Define some rows */
#header,
#navigation,
#breadcrumb,
#system-messages,
#content-top,
#main,
#content-bottom,
#footer {
	@include grid-row();
}

/* Header */
#header {

}

/* Navigation */
#site-navigation {
	.region-nav {

	}
}

/* Main Content */
#main {

}

#content {
	.two-sidebars & {
		@include grid-column(6, $push:3);
	}
	.one-sidebar & {
		@include grid-column(9);
	}
	.one-sidebar.sidebar-first & {
		@include grid-column(9, $push:3);
	}
}

#sidebar-first {
	.two-sidebars & {
		@include grid-column(3, $pull:6);
	}
	.one-sidebar.sidebar-first & {
		@include grid-column(3, $pull:9);
	}
}

#sidebar-second {
	.two-sidebars & {
		@include grid-column(3);
	}
	.one-sidebar.sidebar-second & {
		@include grid-column(3);
	}
}

/* Footer */
#footer {

}
