// @file Config
// This file contains theme variables and compile order specifications.

// VARIABLES

// Font Stacks
$base-font-stack: Arial, Helvetica, sans-serif;
$alt-font-stack: Georgia, serif;

// Colors
$color1: #ffffff; // White
$color2: #000000; // Black
$color3: #cccccc; // Light Gray
$color4: #666666; // Medium Gray
$color5: #333333; // Dark Gray
$color6: #D62901; // Red
$color7: #bbbaba; // Light Medium Gray

// Imports
//
// This is the master configuration file for our theme, which contains an annotated
// list of @import functions which comprise the separate stylesheets which make up
// specific parts of the theme.

// Theme Modules
//
// Modules, designated with an underscore prefix, don't generate any CSS output
// themselves but instead contain mixins and definte base variables used by other
// stylesheets.

// CSS Philosiphies
//
// Use rems for font sizes
// Use inline media queries
// Use inline IE styles

// CSS Preprocess Logic
	@import "preprocess";
	@import "normalize";

// CSS Grid Framework Logic
	@import "foundation/settings";
	@import "foundation/components/block-grid";
	@import "foundation/components/grid";

// Theme Styles
	@import "base";
	@import "header";
	@import "footer";
	@import "forms";
	@import "articles";
	@import "print";